@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

#food-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    width: 90vw;
    height: 1000px;
    padding: 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px;
    justify-content: center;
    background-color: rgb(0, 138, 53);
}

form input, select, button{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

form input::placeholder{
    color: rgba(0, 139, 30, .5);
}

.foodCard{
    padding-top: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 430px;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 2px 5px rgb(235, 235, 235);
}

.foodImage{
    width: auto;
    height: 15rem;
    margin-top: 30px;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    margin-bottom: 10px;
}

.deleteBtn{
    margin-top: 20px;
}